@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../../public/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\f0064";
}

.icon-guanliyuan:before {
  content: "\f00ec";
}

.icon-bianji:before {
  content: "\f014f";
}

.icon-guanyuwo:before {
  content: "\f0142";
}

.icon-18:before {
  content: "\e611";
}

.icon-weixin:before {
  content: "\e632";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-youxiang:before {
  content: "\e633";
}

.icon-biji:before {
  content: "\e60d";
}

.icon-yinle1:before {
  content: "\e644";
}

.icon-wangyiyun:before {
  content: "\e615";
}

.icon-wangluo:before {
  content: "\e62e";
}

.icon-github:before {
  content: "\e6a4";
}

.icon-daohang:before {
  content: "\e62b";
}

.icon-daibantixing:before {
  content: "\e627";
}

.icon-guanliyuan1:before {
  content: "\e6fb";
}

.icon-chrome:before {
  content: "\e501";
}

.icon-guanyu:before {
  content: "\e655";
}

.icon-xiangmu:before {
  content: "\e651";
}

.icon-daiban:before {
  content: "\e7ef";
}

.icon-daiban1:before {
  content: "\e64f";
}

.icon-yinle2:before {
  content: "\e60e";
}

.icon-daibanrenwu:before {
  content: "\eb29";
}

.icon-node-js:before {
  content: "\f1fd";
}

.icon-react:before {
  content: "\f21a";
}

.icon-guanliyuan2:before {
  content: "\e614";
}

.icon-guanyuwomen:before {
  content: "\e65e";
}

.icon-zujian:before {
  content: "\e652";
}

.icon-shouye:before {
  content: "\e607";
}

.icon-yinle3:before {
  content: "\e602";
}

.icon-huixingzhen:before {
  content: "\e6b4";
}

.icon-guanli:before {
  content: "\e693";
}

.icon-guanyu1:before {
  content: "\e60b";
}

.icon-shouye1:before {
  content: "\e62c";
}

.icon-caidan1:before {
  content: "\e608";
}

.icon-daiban2:before {
  content: "\e603";
}

.icon-shouye2:before {
  content: "\e730";
}

.icon-dilanxianxingiconyihuifu_huabanfuben:before {
  content: "\e601";
}

.icon-daiban3:before {
  content: "\e64b";
}

.icon-guanyu2:before {
  content: "\e622";
}

.icon-ts:before {
  content: "\e664";
}

.icon-js:before {
  content: "\e688";
}

.icon-javascript:before {
  content: "\e6f7";
}

.icon-css3:before {
  content: "\eb76";
}

.icon-pageRanksuanfa:before {
  content: "\e6a5";
}

.icon-qq:before {
  content: "\e61d";
}

.icon-odbc-full:before {
  content: "\e93a";
}

.icon-guanli1:before {
  content: "\e993";
}

.icon-logo-vue:before {
  content: "\e8c1";
}

.icon-uni-app:before {
  content: "\e502";
}

